@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--background: #121212;
	--background-secondary: #292929;
	--main-font: #149414;
	--font-secondary: #0e6b0e;
	--font-glow: #00ff00;
	height: 100%;
}
body {
	min-width: 300px;
	background: var(--background-secondary);
	color: var(--main-font);
	text-shadow: 0 0 1em var(--font-glow);
	height: 100%;
	font-family: VT323, monospace;
	font-size: 1.5em;
	letter-spacing: 2px;
}
main {
	background: linear-gradient(var(--background) 85%, var(--main-font) 125%);
	margin: 0 15%;
	height: 100%;
	box-shadow: 0 0 5px 5px var(--background);
	overflow: hidden;
}
header {
	margin: 0 auto;
}
header:after {
	display: block;
	width: 90%;
	height: 2px;
	background: var(--font-secondary);
	color: var(--font-secondary);
	box-shadow: 0 5px 15px 0 var(--font-glow);
	content: "";
	margin: 0 auto;
}

/* Headers */
h1, h2 {
	text-align: center;
	font-family: Orbitron, serif;
	text-shadow: 0 0 1.5em var(--font-glow);
}
h1 {
	font-size: 3em;
	padding-top: 0.5em;
}
h2 {
	margin: 0.625em 0;
	font-size: 2em;
	text-align: center;
}

/* General text. */
p, li {
	margin: 0.25em auto;
	text-align: center;
}
main > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
}
main > section {
	display: none;
}
#scoreboard {
	text-align: center;
	justify-content: space-around;
	align-items: center;
	height: 65px;
}
section p {
	display: inline;
}
.question {
	display: none;
	width: 90%;
	grid-template-columns: auto auto;
	margin: 0 auto;
	justify-content: space-evenly;
	height: auto;
	grid-gap: 5vw;
}
.question > h2 {
	grid-column: 1 / 3;
}
button {
	color: var(--background);
	background-color: var(--main-font);
	box-shadow: 0 0 4px 4px var(--main-font);
	border: none;
	cursor: pointer;
	font-family: VT323, monospace;
	font-size: 1em;
	letter-spacing: 2px;
}
.question > button {
	display: inline-block;
	height: 100%;
	min-height: 10vh;
	min-width: 10vw;
	font-size: 1em;
	font-weight: 600;
}
#begin {
	padding: 0 0.5em 6px 0.5em;
	font-size: 3em;
	font-family: Orbitron serif;
	font-weight: 900;
	margin: 0 auto;
}
#end {
	display: none;
	grid-template-columns: auto;
	margin: 0 auto;
	justify-content: space-around;
	width: 100%;
}
input, input:valid, input:focus {
	background: var(--font-secondary);
	color: var(--background);
	border: none;
	width: 1.625em;
	font-family: VT323, monospace;
	font-size: 1em;
	padding: 0 4px;
	outline: none;
}
ul {
	list-style: none;
}

@media all and (max-width: 1000px) {
	main {
		margin: 0 5%;
	}
}
@media all and (max-width: 600px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
	}
	.question > button {
		font-size: 0.8em;
	}
}