@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--background: #121212;
	--background-secondary: #292929;
	--main-font: #149414;
	--font-secondary: #0e6b0e;
	--font-glow: #00ff00;
	height: 100%;
}
body {
	background: var(--background-secondary);
	color: var(--main-font);
	text-shadow: 0 0 1em var(--font-glow);
	height: 100%;
}
main {
	background: linear-gradient(var(--background) 85%, var(--main-font) 125%);
	margin: 0 15%;
	height: 100%;
	box-shadow: 0 0 5px 5px var(--background);
}
header {
	margin: 0 auto;
}
header:after {
	display: block;
	width: 90%;
	height: 2px;
	background: var(--font-secondary);
	color: var(--font-secondary);
	box-shadow: 0 5px 15px 0 var(--font-glow);
	content: "";
	margin: 0 auto;
}
h1 {
	padding-top: 0.5em;
	text-align: center;
	font-size: 3em;
	text-shadow: 0 0 1.5em var(--font-glow);
}
h2 {
	font-size: 3em;
	font-family: Orbitron, serif;
	text-shadow: 0 0 2em var(--main-font);
	text-align: center;
}
p {
	margin: 8px;
	font-family: VT323, monospace;
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 2px;
}
main > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
}
main > section {
	display: none;
}
#scoreboard {
	text-align: center;
	justify-content: space-around;
	align-items: center;
	height: 65px;
}
section > div {
	display: inherit;
}
section p {
	display: inline;
}
.question {
	display: none;
	width: 70%;
	grid-template-columns: auto auto;
	margin: 0 auto;
	justify-content: space-evenly;
	height: auto;
}
.question > h2 {
	grid-column: 1 / 3;
}
button {
	color: var(--background);
	background-color: var(--main-font);
	box-shadow: 0 0 4px 4px var(--main-font);
	border: none;
	cursor: pointer;
}
.question > button {
	display: inline-block;
	min-width: 200px;
	min-height: 120px;
	margin: 1.5em;
	font-size: 2em;
	font-family: VT323, monospace;
	letter-spacing: 2px;
	font-weight: 600;
}
#begin {
	padding: 0 0.5em 7px 0.5em;
	font-size: 3em;
	font-family: Orbitron serif;
	font-weight: 900;
	margin: 0 auto;
}
#end {
	display: none;
	grid-template-columns: auto;
	margin: 0 auto;
	justify-content: space-around;
	width: 100%;
}
#highscores {
	width: 90%;
}

@media all and (max-width: 1000px) {
	main {
		margin: 0 5%;
	}
}